html(lang="en")
    include ../layouts/includes/head.jade
    body.yellow
      include ../layouts/includes/navbar.jade
      .jumbotron
        .container
          h1 Contact Us
          p.h2 
            | We’d love to hear from you. Reach out to us if you want to present at our next meetup, have ideas about what we should talk about or if you have any questions
            | at all. Seriously don’t hesitate to say something, we’re here to help you. You can join our next meetup at 
            a(href="http://www.meetup.com/Tucson-ReactJS-Meetup/") Meetup.com
            |, follow us on Twitter at 
            a(href="https://twitter.com/tucsonreactjs") @TucsonReactJS
            | , and even create issues and pull requests on our  
            a(href="https://github.com/tucsonreactjs") Github
            |  page. You can also chat with us by joining the
            a(href="http://www.reactiflux.com/")  Reactiflux Slack organization
            |  and finding the #tucson channel.

