header#upcoming
    h1 Our Next Meetup
    p.h3 Will be scheduled soon.
      p.text-italic
        | Is there something you want to present or would like to talk about?
        a(href="/contact")  Contact us!

    h2.h3 Where?
    p Tucson ReactJS meetups use the great downtown warehouse space provided by Elegant Thought, LLC.
      | Drinks and light snacks will be provided by the organizers!
    address 
      strong Elegant Thought
      br/
      | 15 E Toole Ave
      br/
      | Tucson, AZ 85701 
    a.obvious-link(href="http://www.meetup.com/Tucson-ReactJS-Meetup/events/221932862/") RSVP on Meetup.com