header#upcoming
    h1 Our Next Meetups
    a(href="http://www.meetup.com/Tucson-ReactJS-Meetup/events/223769210/")
      p.h3 Mashup: React-Router and Animation in React
    p Monday, July 27, 2015 at 7:00pm
      p
        | July's meetup will be two talks mashed together. Jason Hansen will be talking about using React-Router
        | to manage state in your applications, which will lead nicely into Charlie King talking about different
        | approaches for animation in React.
    br
    a(href="http://www.meetup.com/Tucson-ReactJS-Meetup/events/223770408")
      p.h3 Reflux Deep Dive
    p Monday, August 17, 2015 at 7:00pm
    p
      |In the never-ending search for the perfect Flux framework,
      | Mike Groseclose is going to deep dive in to  
      a(href="https://github.com/spoike/refluxjs") Reflux 
      | and tell us all about it. 
    br
    h2.h3 Where?
    p Tucson ReactJS meetups use the great downtown warehouse space provided by Elegant Thought, LLC.
      | Drinks and light snacks will be provided by the organizers!
    address 
      strong Elegant Thought
      br/
      | 15 E Toole Ave
      br/
      | Tucson, AZ 85701