header#upcoming
    h1 Our Next Meetup
    p.h3 ReactJS and Immutability, a perfect match? 
      p.text-italic
        | Join us on the 29th of June where our very own Jordan Danford is going to talk about marrying your ReactJS code with immutable data structures.
    h2.h3 Where?
    p Tucson ReactJS meetups use the great downtown warehouse space provided by Elegant Thought, LLC.
      | Drinks and light snacks will be provided by the organizers!
    address 
      strong Elegant Thought
      br/
      | 15 E Toole Ave
      br/
      | Tucson, AZ 85701 
    a.obvious-link(href="http://www.meetup.com/Tucson-ReactJS-Meetup/events/221932862/") RSVP on Meetup.com