@import "../../bower_components/bootstrap/less/bootstrap.less";
@shade: @dark-purple;
@offset: @purple;
/*
* Colors from https://color.adobe.com/Flat-UI-color-theme-2469224/
* Bootstrap Styles need to be adjusted to support the custom styles below
*/
*{
 font-variant-ligatures:common-ligatures; 
}


body{
  font-size:18px;
  padding: 50px 0px 70px 0px;
  background-color: #fefefe;
}

.jumbotron{
  background-color: inherit;
  border-bottom: 8px solid @purple;
  color:@dark-purple;
  .container{
    h1{
      color:@purple;
    }
    p{
      font-size: @font-size-h3;
      line-height: 1.4;
    }
  }
}


body.white{
  background-color: #fefefe;
  .jumbotron{
    background-color: inherit;
    color:@dark-purple;
    .container{
      h1{
        color:@dark-purple;
        text-shadow:none;
      }
    }

    a{
    color:@red;
    font-weight: 700;
  }
  }
}

.obvious-link{
        color: #c3c3d1; //web-safe for accessibility
        background-color: @dark-purple;
        padding:10px 12px;
        border-radius:3px;
        text-decoration: none;
        transition: all 0.2s ease;
        &:hover{
        color: @dark-purple; //web-safe for accessibility
        background-color: #c3c3d1;
        text-decoration: none;
        }
}

@media (max-width: @screen-md-max) {
  .jumbotron{
    .container{
      p{
        font-size: @font-size-h3;
      }
    }
}
  .obvious-link{
    padding:2px 5px;
  }
}

@media (max-width: @screen-sm-max) {
  .jumbotron{
    .container{
      p{
        font-size: @font-size-h3;
      }
    }
  }
    .obvious-link {
      padding:2px 3px;
    }
}

.navbar-avatar{
  float:left;
  max-width: 50px;
  margin-right:10px;
}
/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: @font-size-h1;
  font-weight: 700;
}
.blog-description {
  font-size: 20px;
  color: @dark-purple;
}

.archived-post{
  display:block;
  border-radius: 2px;
  padding:10px 15px;
  margin-bottom: 1em;
  &:hover{
    text-decoration: none;
    color:@dark-purple;
    background-color: darken(@brand-white,5%)
  }
}

.post-title{
  font-size: @font-size-h2;
  font-weight: 700;
}

.post-lead{
  font-size: @font-size-h3;
}

.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-avatar {
    padding: 15px;
    background-color: @dark-purple;
    color:@brand-white;
    border-radius: 50%;
    max-width: 80%;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}









