@import "../../node_modules/bootstrap/less/bootstrap.less";

/*
* Colors from https://color.adobe.com/Flat-UI-color-theme-2469224/
* Bootstrap Styles need to be adjusted to support the custom styles below
*/
body{
  font-size:18px;
}

.italic{
  font-style:italic;
}

*{
 font-variant-ligatures:common-ligatures; 
}

*,body,h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
  font-family:"source-sans-pro", 'Helvetica Neue', 'Segoe UI', 'Arial', sans-serif;
}

pre,code{
  font-family:"source code pro",monospace;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6, strong{
  font-weight:600;
}

.navbar{
  background-color: #2980B9;
}

.navbar-brand{
  text-shadow:none;
  color:#ECF0F1;
}

.navbar-brand:hover{
  color:#b6daf3;
}



.jumbotron{
/*  color:#2C3E50;
  background-color: #ECF0F1;*/

  background-color: #2C3E50;
  color:#ECF0F1;
}
.jumbotron > .container > p > a{
  color:#b6daf3;
  font-weight:500;
}











