@import "../../bower_components/bootstrap/less/bootstrap.less";
@shade: @brand-dark;
@offset: @brand-light;
/*
* Colors from https://color.adobe.com/Flat-UI-color-theme-2469224/
* Bootstrap Styles need to be adjusted to support the custom styles below
*/
*{
 font-variant-ligatures:common-ligatures; 
}

body{
  font-size:18px;
  padding: 50px 0px 70px 0px;
}

.jumbotron{
  font-family: museo;
  .container{
    h1{
      font-style: normal;
      font-weight:700;
      text-shadow:
      -.010em .010em @offset,
      -.040em .040em @shade;
    }
    p{
      font-size: @font-size-h2;
      line-height: 1.4;
    }
  }
}

.obvious-link{
        color: #c3c3d1; //web-safe for accessibility
        background-color: @brand-dark;
        padding:10px 12px;
        border-radius:3px;
        text-decoration: none;
        transition: all 0.2s ease;
        &:hover{
        color: @brand-dark; //web-safe for accessibility
        background-color: #c3c3d1;
        text-decoration: none;
        }
}

@media (max-width: @screen-md-max) {
  .jumbotron{
    .container{
      p{
        font-size: @font-size-h3;
      }
    }
}
  .obvious-link{
    padding:2px 5px;
  }
}

@media (max-width: @screen-sm-max) {
  .jumbotron{
    .container{
      p{
        font-size: @font-size-h3;
      }
    }
  }
    .obvious-link {
      padding:2px 3px;
    }
}

.navbar-avatar{
  float:left;
  max-width: 50px;
  margin-right:10px;
}
/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: @font-size-h1;
  font-weight: 700;
}
.blog-description {
  font-size: 20px;
  color: @brand-dark;
}

.archived-post{
  display:block;
  border-radius: 2px;
  padding:10px 15px;
  margin-bottom: 1em;
  &:hover{
    text-decoration: none;
    color:@brand-dark;
    background-color: darken(@brand-white,5%)
  }
}

.post-title{
  font-size: @font-size-h2;
  font-weight: 700;
}

.post-lead{
  font-size: @font-size-h3;
}

.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-avatar {
    padding: 15px;
    background-color: @brand-dark;
    color:@brand-white;
    border-radius: 50%;
    max-width: 80%;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}









