nav(class="navbar navbar-inverse navbar-fixed-top" role="navigation")
  div(class="container")
    div(class="navbar-header")
      //- button(class="navbar-toggle collapsed", type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
      //-   span Menu
      a(class="navbar-brand" href="/") Tucson ReactJS
    //-div(class="collapse navbar-collapse", id="navbar-collapse-1")
      ul(class="nav navbar-nav")
        li(class="active")
          a(href="/posts") Posts
            span(class="sr-only") (current)