.h3.text-center About
p The Tucson React group is a meetup for people who want to deep-dive into React and the Flux application architecture.
| React beginners and experts are both welcome, and so is anyone who loves and wants to talk about JavaScript. 
.h3.text-center Contact Us
ul.list-unstyled
  li 
    a(href="http://twitter.com/tucsonreactjs") Twitter
  li 
    a(href="http://github.com/tucsonreactjs") Github
  li Meetup.com
  li Slack
a(href="http://www.meetup.com/Tucson-ReactJS-Meetup/" alt="Tucson ReactJS Meetup page")
  img.center-block.sidebar-module-avatar(src="/img/ReactCactus.svg")