//- posts.jade
doctype html
html
    include ../includes/head.jade
    body
      include ../includes/navbar.jade
      div(class="container")
        div(class="post-header")
          h1(class="post-title") The Tucson ReactJS Blog
          p(class="lead post-description") A collection of notes, slides and guides from meetups
          div(class="row")
            div(class="col-sm-8")
              block content
            div(class="col-sm-3 col-sm-offset-1 sidebar")
              div(class="sidebar-module sidebar-module-inset")
                h4 About
                p Engine boy render-farm tower order-flow refrigerator sub-orbital concrete corporation construct free-market Legba industrial grade man.
