doctype html
html
    include ../includes/head.jade
    body
      include ../includes/navbar.jade
      .jumbotron
        .container
          h1 The Tucson ReactJS Archive
          p.h2 
            | A collection of articles and slides for meetups
      .container
        .row
            .col-sm-8
              block content
            .col-sm-3.col-sm-offset-1.sidebar
              include  ../includes/sidebar.jade
      include ../includes/scripts.jade