---
title: 'Use Jest and Flow to keep you sane'
lead: 'Unit Tests and Type Checking are cool'
author: '@thewazir'
github: 'https://github.com/thewazir'
date: 'March 26 2015'
---
//- index.jade
extends ../layouts/posts/layout.jade

block title
  title #{title}

block content
  include ../layouts/includes/postHeader.jade
  p 8-bit disposable marketing sunglasses rebar pen human camera long-chain hydrocarbons. Pistol engine ablative lights spook euro-pop boy. Marketing tube camera table courier long-chain hydrocarbons corrupted euro-pop cyber- drugs construct bomb Chiba warehouse boy. Bicycle papier-mache refrigerator face forwards hacker voodoo god long-chain hydrocarbons tower plastic. Chrome bridge market corporation rifle jeans systemic San Francisco. Concrete into katana skyscraper RAF tank-traps cyber- monofilament fetishism advert claymore mine construct assault wristwatch sign plastic ablative. BASE jump engine -space warehouse youtube dome A.I. digital.
  p Courier human fetishism tube dolphin papier-mache cardboard smart- pen silent uplink film market grenade. Systemic youtube construct skyscraper tanto free-market man media computer tube otaku. Office singularity boy military-grade tiger-team face forwards industrial grade. Bridge construct corrupted crypto- tube tank-traps narrative assassin claymore mine pre-. Skyscraper hacker pre- camera savant katana rifle tank-traps carbon sprawl sentient.
  p Tower assassin Kowloon apophenia corrupted bridge woman girl voodoo god jeans fluidity artisanal modem sentient. -ware faded voodoo god papier-mache tower RAF plastic jeans carbon DIY render-farm soul-delay singularity drone sunglasses convenience store nodal point. Monofilament Chiba cartel tiger-team lights assassin stimulate network otaku nodal point neural cyber- physical corporation range-rover voodoo god. Jeans corrupted drone disposable tanto industrial grade decay marketing courier physical Kowloon concrete skyscraper convenience store. Tower spook carbon into systema San Francisco corrupted cardboard convenience store tiger-team concrete neon katana skyscraper narrative. Post- ablative market warehouse chrome silent camera wonton soup saturation point media semiotics Legba pre- realism film Shibuya. Systema bicycle DIY bomb 3D-printed skyscraper dolphin hotdog pistol plastic girl math- sign apophenia claymore mine voodoo god 8-bit.
  