---
title: 'React Primer & Component Lifecycle'
lead: 'Links to slides and code for the meetup held on April 14th 2015'
author: '@thewazir'
github: 'https://github.com/thewazir'
date: 'April 14 2015'
---
extends ../layouts/posts/layout.jade

block title
  title #{title}

block content
  include ../layouts/includes/postHeader.jade
  p 
   | Our first meetup was organized by Charlie King
   a(href="https://github.com/bringking")  @brinkgking
   |  and he started with a primer on React and then covered the component lifecyle.
   | You can find slides
   a(href="#slides")[1]
   |  and accompanying code examples
   a(href="#code")[2]
   |  in the links below.
  br/
  a(href="http://slides.com/charlesking-1/deck#/" id="slides") [1] Link to slides.
  br/
  a(href="https://github.com/TucsonReactJS/primer" id="code") [2] Link to code example.