---
title: 'Tucson ReactJS Blog'
---
//- index.jade
extends ../layouts/posts/layout.jade

block title
  title= title

block content
  ul.list-unstyled.posts-lists
    each post in posts
        li
          a.archived-post(href= post.path)
            p.post-title= post.title
            p.post-lead= post.lead
