html(lang="en")
    include ./layouts/includes/head.jade
    body
      include ./layouts/includes/navbar.jade
      .jumbotron
        .container
          h1
            b.text-center Tucson
            b.text-center React
          p.h2.text-center 
            | A meetup for people who want to deep-dive into the React ecosystem.
      .container.main-content
        .row
          .col-sm-8
            include ./upcoming/nextMeetup.jade
            .row
              include ./previous/previousMeetups.jade
          .col-sm-3.col-sm-offset-1.sidebar
            include  ./layouts/includes/sidebar.jade
      //- .jumbotron
      //-   .container
      //-     header
      //-       h1 Previous Meetups
      //-       h2 ReactJS Primer &amp; Component Lifecycle? 
      //-     p.h2 
      //-       | Deep dive into ReactJS and the ReactJS Component Lifecycle by building a React component from scratch using idiomatic  tools and practices.
      include ./layouts/includes/scripts.jade
        